<?xml version="1.0" encoding="utf-8"?>

<launch>
  <node name="carla_ctl" pkg="carla_ctl" type="carla_ctl" args="_camera_sensor_x:=0.0 _camera_sensor_y:=0.0 _camera_sensor_z:=3.0 _lider_sensor_x:=0.0 _lider_sensor_y:=-2.0 _lider_sensor_z:=3.0" output="screen"/>
  <node name="olny_cv" pkg="olny_cv" type="LKAS_node" output="screen">
   <param name="Kp" type="double" value="0.02"/>
   <param name="Ki" type="double" value="0.4"/>
   <param name="Kd" type="double" value="0.01"/>
   <param name="speed"  type="double" value="0.65"/>
  </node>
</launch>
